<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6 offset-md-3">
                <mat-card style="background-color: rgb(241, 239, 232);">
                    <mat-card-content>
                        <h1 class="font-style">Forgot Password</h1>
                        <form (ngSubmit)="formSubmit()">
                            <!-- username -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input 
                                required
                                [(ngModel)] ="user.loginId"
                                name="username"
                                matInput placeholder="Enter Here">
                            </mat-form-field>
                            <!-- password -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Changed Password</mat-label>
                                <input 
                                required
                                [(ngModel)]="user.password"
                                name="password"
                                type="password" minlength="6" matInput placeholder="Enter Password">
                            </mat-form-field>
                            <div class="container text-center">
                                <button type="submit" style="margin-right: 10px;" mat-raised-button color="primary">Change Password</button>
                                <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Reset</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>


