.font-style {
    font-family: Copperplate Gothic Light;
    color: white;
}
.bg{
    background-image: url("https://img.freepik.com/free-vector/buying-cinema-tickets-online-isometric-composition-with-holding-smartphone-hand-popcorn-movie-film-bobbins_1284-55352.jpg?w=900&t=st=1683199043~exp=1683199643~hmac=0e5e40af27859a88873a90f21f1d837f7f989d3b823337163e4147ee4421cf9d");
    background-size: cover;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}