<app-navbar></app-navbar>
<h1 class="font-style" style="text-align: center;">All Movies</h1>
<table style="padding-top: 20px; width: 100%;font-size: 20px;background-color: rgb(245, 243, 234);" class="mat-elevation-z8">
    <tr style="border: 20px;">
        <td><h2>No.</h2></td>
        <td><h2>Movie Name</h2></td>
        <td><h2>Theater Name</h2></td>
        <td><h2>Ticket Status</h2></td>
    </tr>
    <tr style="border: 12px;">
        <td><mat-divider></mat-divider></td>
        <td><mat-divider></mat-divider></td>
        <td><mat-divider></mat-divider></td>
        <td><mat-divider></mat-divider></td>
    </tr>
    <br>
    <tr *ngFor="let arr of movies">
        <td class="font-style">{{arr.position}}</td>
        <td class="font-style">{{arr.movieName}}</td>
        <td class="font-style">{{arr.theaterName}}</td>
        <td class="font-style">{{arr.ticketStatus}}</td>
        <button *ngIf="loginService.userLoggedIn()" (click)="onClickBuyTicket(arr.movieName)" mat-raised-button color="primary">Book Ticket</button>
    </tr>
    <br>
</table>
  
  


  